.about-me {
    border-top: 1px solid var(--border-color);
}

@media (min-width: 768px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start; /* 不加这个会导致card组件的旋转样式发成错误 */
    }

    #md {
        padding-left: 2.5rem;
    }
}

@media (max-width: 767px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }

    .card-content {
        display: none;
    }
}

#md p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #374151;
}

#md strong {
    color: #4b5563;
}

#md a {
    color: #6366f1;
    text-decoration: underline;
    font-weight: 500;
}

#md h2 {
    font-weight: 700;
    font-size: 1.875em;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

#md h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

#md ul {
    list-style-type: disc;
    margin-bottom: 2.375rem;
    font-size: 1.125rem;
}

#md li::marker {
    color: #d1d5db;
}

#md li {
    color: #374151;
    margin-bottom: 0.75rem;
    line-height: 2rem;
}

#md table {
    width: 100%;
    border-collapse: collapse;
}

#md table th,
#md table td {
    border-bottom: 1px solid #e5e7eb;
    padding: 0.75rem;
    line-height: 1.5;
}

#md blockquote {
    background: #ebebeb;
    color: #3d3b3b;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 0.25rem solid #6f6868;
    padding-right: 8px;
    padding-left: 1em;
    margin: 1.875rem 0;
    font-style: italic;
}