.blog-header {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.blog-title h1 {
    color: var(--text-color-primary);
    margin: 0;
    line-height: 3.5rem;
    font-size: 3.75rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.blog-title p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--text-color-secondary);
}
